
  <div class="general">
    <div class="logo-trivia">
      <img src="./assets/logo.png" alt="logo" width="200px" height="140ypx">
    </div>
    <div class="bloc-trivia">
      <div class="bar-info-perso">
        <table>
          <tr>
            <td>
              <div class="toto-bonbons">
                Total Bonbons :
              </div>
            </td>
            <td>
              <div class="address-trivia">
                Adresse :
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="conv-habitant">
        <table>
          <tr>
          <td>
            <div class="conv-h-bloc-img">
              ICON HABITANT ICI.
            </div>
          </td>
          <td>
            <div class="conv-h-bloc-txt">
                <p class="txt-habitant">Nom Habitant</p>
                Siquis enim militarium vel honoratorum aut nobilis inter suos rumore
                tenus esset insimulatus fovisse partes hostiles, iniecto onere catenarum in
                modum beluae trahebatur.
            </div>
          </td>
          </tr>
        </table>
      </div>

      <div class="conv-joueur">
        <table>
          <tr>
          <td>
          <div class="conv-j-bloc-txt">
              <p class="txt-joueur">Nom Joueur</p>
              Siquis enim militarium vel honoratorum aut nobilis inter suos rumore
              tenus esset insimulatus fovisse partes hostiles, iniecto onere catenarum in
              modum beluae trahebatur.
          </div>
          </td>
          <td>
            <div class="conv-j-bloc-img">
              ICON HABITANT ICI.
            </div>
          </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
