<!-- <p>
  map works!
</p>
<button  (click)="changeRoute()">MAISON</button >
{{timer}} -->

<div class="general">
  <div class="row">
    <div class="col-2 m-3">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt=""></a>
    </div>
    <div class="col-2 m-3">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt=""></a> 
    </div>
    <div class="col-2 m-3">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt=""></a> 
    </div>
    <div class="col-2 m-3">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt=""></a> 
    </div>
    <div class="col-2 m-3">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt=""></a> 
    </div>
  </div>
  <div class="row">
    <div class="col-2 m-3">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt=""></a> 
    </div>
    <div class="col-2 m-3">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt=""></a> 
    </div>
    <div class="col-2 m-3">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt=""></a> 
    </div>
    <div class="col-2 m-3">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt=""></a> 
    </div>
    <div class="col-2 m-3">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt=""></a> 
    </div>
  </div>
</div>



