<!-- <p>
  map works!
</p>
<button  (click)="changeRoute()">MAISON</button >
-->

<div class="general">
  
  <div class="bloc-map">
    <div><ngbd-modal-bonbondex></ngbd-modal-bonbondex></div>
    <span class="timer ml-5">
      {{timer}}
    </span>
    <div class="logo-map">
      <img src="./assets/logo.png" alt="logo" width="200px" height="140ypx">
    </div>
      <div class="cliclic">Clic and go !</div>
    <div class="row1">
      <div class="lesmaiz">
        <a (click)="changeRoute()"><img src="./assets/house1.png" alt="house"></a>
      </div>
      <div class="lesmaiz">
        <a (click)="changeRoute()"><img src="./assets/house1.png" alt="house"></a>
      </div>
      <div class="lesmaiz">
        <a (click)="changeRoute()"><img src="./assets/house1.png" alt="house"></a>
      </div>
      <div class="lesmaiz">
        <a (click)="changeRoute()"><img src="./assets/house1.png" alt="house"></a>
      </div>
      <div class="lesmaiz">
        <a (click)="changeRoute()"><img src="./assets/house1.png" alt="house"></a>
      </div>
    </div>

    <div class="row2">
      <div class="lesmaiz2" >
        <a (click)="changeRoute()"><img src="./assets/house2.png" alt="house"></a>
      </div>
      <div class="lesmaiz2">
        <a (click)="changeRoute()"><img src="./assets/house2.png" alt="house"></a>
      </div>
      <div class="lesmaiz2">
        <a (click)="changeRoute()"><img src="./assets/house2.png" alt="house"></a>
      </div>
      <div class="lesmaiz2">
        <a (click)="changeRoute()"><img src="./assets/house2.png" alt="house"></a>
      </div>
      <div class="lesmaiz2">
        <a (click)="changeRoute()"><img src="./assets/house2.png" alt="house"></a>
      </div>

    </div>
  </div>
</div>
