<!-- <p>
  map works!
</p>
<button  (click)="changeRoute()">MAISON</button >
-->
  {{timer}} 

<div class="general">
  <div class="row1">
    <div class="lesmaiz">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt="house"></a>
    </div>
    <div class="lesmaiz">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt="house"></a>
    </div>
    <div class="lesmaiz">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt="house"></a>
    </div>
    <div class="lesmaiz">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt="house"></a>
    </div>
    <div class="lesmaiz">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt="house"></a>
    </div>
  </div>


  <div class="row2">
    <div class="lesmaiz2" >
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt="house"></a>
    </div>
    <div class="lesmaiz2">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt="house"></a>
    </div>
    <div class="lesmaiz2">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt="house"></a>
    </div>
    <div class="lesmaiz2">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt="house"></a>
    </div>
    <div class="lesmaiz2">
      <a (click)="changeRoute()"><img src="https://techflourish.com/images/build-a-house-clipart-15.gif" alt="house"></a>
    </div>
  </div>
</div>
