
<div class="general">
  <div class="homepage">
    <div class="logo">
      <img src="./assets/logo.png" alt="logo">
    </div>
    <div class="bloc-intro-home">
      Weird, we know you're at {{adress}}. Around this place,
there are several houses that you can go to visit to collect candies
from your collection. Every house you visit is waiting for you a question that will allow you
to win new candies if you answer them correctly.If you lose, you'll see ..
    </div>

      <button class="button-home-play" (click)="onClick()">Play</button>

  </div>
</div>
