
<div class="general">
  <div class="homepage">
    <div class="logo">
      <img src="./assets/logo.png" alt="logo">
    </div>
    <div class="bloc-intro-home">
      Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum
      certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot
      sunt partes terrarum, ut domina suxxscipitur et regina et ubique patrum reverenda
      cum auctoritate canities populique Romani nomen circumspectum et verecundum.
    </div>

      <button class="button-home-play" (click)="onClick()">Play</button>

  </div>
</div>
