
<div class="general">
  <div class="homepage">
    <div class="logo">
      <img src="./assets/logo.png" alt="logo">
    </div>
    <div class="bloc-intro-home">
      OooooOOOoooOOoh, we know you're around <span class='address'>{{ address }}</span>... Yeah, that's right, we can see you... 
      Around this place, there are several houses that you can go and visit to collect candies
      for your very own <span class="collection">collection</span>. Right now, each one of your creepy neighbors 
      is eagerly waiting for you. They will challenge you with their hardest <span class="collection">questions</span>.
      If you answer them correctly, you'll get <span class="collection">candies</span>. If you don't... Well, you'll see!
    </div>
    <button class="button-home-play" (click)="onClick()">Play</button>
  </div>
</div>
