
.bonne-reponse {
  color:#742375;
  font-style: italic;
  font-weight: 600;
}

.mauvaise-reponse {
  color:black;
}

p {
    font-size: 1.1em;
    text-shadow: 0px 0px 0px white;
    font-family: 'Gentium Basic', serif;
    line-height:0.8em;
    text-align: left;
}

h2 {
  font-family: 'Gentium Basic', serif;
  text-shadow: 1px 1px 0px white;
  font-size:1.1em;
  /* letter-spacing: 2px; */
  font-weight: 600;
  border-bottom: 1px solid black;
}

h1 {
  color:white;
  font-family: 'Fontdiner Swanky', cursive;
  font-size:18px;
  text-shadow:0px 0px 0px white;
  background: #742375;
  padding:5px;
  border:1px solid #411842;
  box-shadow: 0px 0px 4px black inset;
  border-radius: 5px;
  display:inline-block;
}
