<div class="container">
  <h1>BONBONDEX</h1>
  <div class="row m-6">
    <div class="col-6">
      <h2>Marshmallows</h2>
      <div *ngFor='let bonbon of tableauMarshmallows'>
        <p [ngClass]="{'bonne-reponse': !bonbon.collected, 'mauvaise-reponse': bonbon.collected}">{{ bonbon.name }}</p>
      </div>
    </div>
    <div class="col-6">
      <h2>Meringues fantaisies</h2>
      <div *ngFor='let bonbon of tableauMeringuesFantaisie'>
        <p [ngClass]="{'bonne-reponse': !bonbon.collected, 'mauvaise-reponse': bonbon.collected}">{{ bonbon.name }}</p>
      </div>
    </div>
  </div>
  <div class="row m-6">
    <div class="col-6">
      <h2>Sucettes</h2>
      <div *ngFor='let bonbon of tableauSucettes'>
        <p [ngClass]="{'bonne-reponse': !bonbon.collected, 'mauvaise-reponse': bonbon.collected}">{{ bonbon.name }} </p>
      </div>
    </div>
    <div class="col-6">
      <h2>Bonbons gélifiés</h2>
      <div *ngFor='let bonbon of tableauBonbonsGelifies'>
        <p [ngClass]="{'bonne-reponse': !bonbon.collected, 'mauvaise-reponse': bonbon.collected}">{{ bonbon.name }}</p>
      </div>
    </div>
  </div>
</div>
